*{padding: 0;
    margin:0 ;
  }



.navbar-expand-lg .navbar-collapse{
padding-left: 45%;
}

.nav-link {
color: #ff4040;
}

.navbar-light .navbar-brand{
    color: white;
    padding: 18px;
    background-color: #ff4040;
    margin-top: -8px;
    margin-bottom: -6px;
    letter-spacing: 1px;}
 


.containerfix{
  padding: 10px;
}
.form-group{
  padding: 10px;
}


.auth-image{
    display: flex;
   right: 70%;;
}

.lead{display: flex;
margin-top: 20px;
font-size: 16px;
color: gray;
line-height: 35px;}

l
.h3, h3 {
  font-size: 30px;
  color: #ff4040;
display: flex;
top: 8px;
  border-bottom: 1px solid #999;
}

.h3, h3 {
  font-size: 1.75rem;
  padding: 27px;
}


  .jumbotron {
margin: 3em;  

}



body{
    background-image: url("/assets/images/dots.jpg");
}




footer {
  
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #fff;
    text-align: center;
    background: #ff4040;
    border-top: 3px solid lightgrey;
    height: 50px;
    letter-spacing: 1px;
    font-size: 15px;
  
  }
  .footer a{
    text-decoration: none;
    color: white;
    position:relative;
    display: block;
    top:-17px;
    
  
  }
    